{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Supprimer un post</legend>
                <h2>Vous etes sûrs de vouloir supprimer votre post ? "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Oui !!!</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Annuler</a>
            </div>
        </form>
    </div>
{% endblock content %}
